@import url('https://fonts.googleapis.com/css2? family= IBM+Plex+Sans:wght@400;700 & family= Montserrat:wght@300;400 & display=swap');

body{
    background-color: #33475B;
    font-family: 'IBM Plex Sans', sans-serif;
}

header{
    background-color: #FFFFFF;
    display: flex;
    height: 80px;
}

.container-elementos-header{
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo-principal{
    color: #0000EE;
    font-size: 24px;
}

.label-pesquisa{
    background-color:#DB1E8C;
    height: 40px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    gap: 4px; /*espaço entre elementos*/
    align-items: center;
}

.input-pesquisa{
    background-color: transparent;
    border: transparent;
    padding: 4px;
    outline: none; /*retira a borda interna do input*/
}

.input-pesquisa::placeholder{
    color:#FF97D3;
}

main{
    
    display: flex;
    
}

.container-principal{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.trilha{
    flex-wrap: wrap;
    margin: 50px 0 150px 0;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.trilha div{
    position: relative;
    width: 340px;
    height: 350px;
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 4px;
}

.trilha p{
    margin-bottom: 32px;
    font-size: 16px;
    text-align: start;
}

.trilha-titulos{
    font-size: 24px;
    color: #364372;
    margin-bottom: 32px;
}

.trilha-botao{


    font-size: 14px;
    color: #264FEC;
    border: 1px solid #264FEC;
    border-radius: 4px;
    background: transparent;
    padding: 20px;
    display: flex;
    position: absolute;
    top: 320px;
    

}


footer{
    background-color: #FFFFFF;
    height: 110px;
    display: flex;
    justify-content: center;
}

.container-elementos-footer{
    display: flex;
    justify-content: space-between;
    width: 1280px;
    align-items: center;

}

.text-programa{
    line-height: 24px;
    font-size: 14px;
    
}

.redes-sociais{
    font-size: 14px;
    text-align: center;

}

.redes-icones{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 15px;
}

@media screen and (max-width: 480px) {

    .container-elementos-header{
        width: 390px;
    }

    .titulo-principal{
        font-size: 12px;
    }

    .label-pesquisa{
        height: 30px;
    }

    .trilha-botao{
        position: initial;
        display: initial;
    }

    .trilha div{
        width: 280px;
        height: 333px;
    }

    .trilha p{
        font-size: 14px;
    }

    footer{
        height: 355px;
    }

    .container-elementos-footer{
        justify-content: center;
        flex-wrap: wrap;
        height: 300px;
        gap: 25px;
        padding: 20px;
    }


}


